In [176]:
import pandas as pd
import numpy as np

airdrop = pd.read_csv("./airdrop_ptp.csv", header = None)
airdrop.columns = ['rank', 'address']
airdrop.insert(2, 'amount', 0.0)
airdrop = airdrop.dropna()
airdrop['rank'] = airdrop['rank'].apply(lambda x:int(x))

In [177]:
for ind in airdrop.index:
#      print(airdrop[0][ind], airdrop[1][ind])
    if airdrop['rank'][ind] == 1:
        airdrop['amount'][ind] = 15000
    elif airdrop['rank'][ind] == 2:
        airdrop['amount'][ind] = 8000
    elif airdrop['rank'][ind] == 3:
        airdrop['amount'][ind] = 3200
    elif airdrop['rank'][ind] <= 500:
        airdrop['amount'][ind] = 400
    elif airdrop['rank'][ind] <= 1000:
        airdrop['amount'][ind] = 150

<ipython-input-177-c5fcad6e21ce>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airdrop['amount'][ind] = 15000
<ipython-input-177-c5fcad6e21ce>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airdrop['amount'][ind] = 8000
<ipython-input-177-c5fcad6e21ce>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airdrop['amount'][ind] = 3200
<ipython-input-177-c5fcad6e21ce>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airdrop['amount'][ind] = 400
<ipython-input-177-c5fcad6e21ce>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airdrop['amount'][ind] = 150

In [178]:
airdrop['amount']

1       15000.0
2        8000.0
3        3200.0
4         400.0
5         400.0
         ...
996       150.0
997       150.0
998       150.0
999       150.0
1000      150.0
Name: amount, Length: 1000, dtype: float64

In [179]:
total = airdrop['amount'].sum()
print(total) #shd be equal to 300,000

300000.0

In [180]:
airdrop.drop(columns=['rank'])

                                         address   amount
1     0xD4dc7c7AD587E86D7e99649977B51101f85F97BB  15000.0
2     0x49e7F98B3468Bbb8Aa2Fe80282cB6aCa3904C84C   8000.0
3     0x47cF50b47c956AbF687912B3b377b40d111864f4   3200.0
4     0x541c54941bBB237594bbDecE66619952c2EdB228    400.0
5     0x96B85D3Eb19D4a64Ee05dA12eE9a395457a5f1bD    400.0
...                                          ...      ...
996   0xae7c3215fD04965B617D10f1774B49521053f50d    150.0
997   0x8BFFe2EE168E1d670Db4fa813211B0638CdC2eB5    150.0
998   0xBa27672Ac0D35DC4aC1bf1f52E4Fd5aF294d04c9    150.0
999   0x7e6B1200e996DA4Beb3E5c631fEA8927BEf4a5C7    150.0
1000  0x0Aa480f341409fE7c9eb191D3C4bdED0397A140F    150.0

[1000 rows x 2 columns]

In [181]:
airdrop['amount'] = airdrop['amount'] * (10**18)

In [182]:
airdrop

      rank                                     address        amount
1        1  0xD4dc7c7AD587E86D7e99649977B51101f85F97BB  1.500000e+22
2        2  0x49e7F98B3468Bbb8Aa2Fe80282cB6aCa3904C84C  8.000000e+21
3        3  0x47cF50b47c956AbF687912B3b377b40d111864f4  3.200000e+21
4        4  0x541c54941bBB237594bbDecE66619952c2EdB228  4.000000e+20
5        5  0x96B85D3Eb19D4a64Ee05dA12eE9a395457a5f1bD  4.000000e+20
...    ...                                         ...           ...
996    996  0xae7c3215fD04965B617D10f1774B49521053f50d  1.500000e+20
997    997  0x8BFFe2EE168E1d670Db4fa813211B0638CdC2eB5  1.500000e+20
998    998  0xBa27672Ac0D35DC4aC1bf1f52E4Fd5aF294d04c9  1.500000e+20
999    999  0x7e6B1200e996DA4Beb3E5c631fEA8927BEf4a5C7  1.500000e+20
1000  1000  0x0Aa480f341409fE7c9eb191D3C4bdED0397A140F  1.500000e+20

[1000 rows x 3 columns]

In [183]:
airdrop['amount'] = airdrop['amount'].apply(lambda x:int(x))

In [184]:
airdrop['amount']

1       15000000000000000000000
2        8000000000000000000000
3        3200000000000000000000
4         400000000000000000000
5         400000000000000000000
                 ...
996       150000000000000000000
997       150000000000000000000
998       150000000000000000000
999       150000000000000000000
1000      150000000000000000000
Name: amount, Length: 1000, dtype: object

In [185]:
print(airdrop['amount'].sum()/(10**18))
# checkif there are overflow

300000.0

In [186]:
airdrop['amount'] = airdrop['amount'].apply( hex )

In [187]:
airdrop['amount'] = airdrop['amount'].str[2:]

In [204]:
airdrop

      rank                                     address               amount
1        1  0xD4dc7c7AD587E86D7e99649977B51101f85F97BB  32d26d12e980b600000
2        2  0x49e7F98B3468Bbb8Aa2Fe80282cB6aCa3904C84C  1b1ae4d6e2ef5000000
3        3  0x47cF50b47c956AbF687912B3b377b40d111864f4   ad78ebc5ac62000000
4        4  0x541c54941bBB237594bbDecE66619952c2EdB228   15af1d78b58c400000
5        5  0x96B85D3Eb19D4a64Ee05dA12eE9a395457a5f1bD   15af1d78b58c400000
...    ...                                         ...                  ...
996    996  0xae7c3215fD04965B617D10f1774B49521053f50d    821ab0d4414980000
997    997  0x8BFFe2EE168E1d670Db4fa813211B0638CdC2eB5    821ab0d4414980000
998    998  0xBa27672Ac0D35DC4aC1bf1f52E4Fd5aF294d04c9    821ab0d4414980000
999    999  0x7e6B1200e996DA4Beb3E5c631fEA8927BEf4a5C7    821ab0d4414980000
1000  1000  0x0Aa480f341409fE7c9eb191D3C4bdED0397A140F    821ab0d4414980000

[1000 rows x 3 columns]

In [219]:
# convert back to dec for final check
total = 0
for ind in airdrop.index:
    total += int(airdrop['amount'][ind],16)
print(total / (10**18))

300000.0

In [220]:
airdrop.to_json('airdrop_ptp.json',orient="records")